.titlename{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}
.select{
  font-size: 16px;
  padding: 10px;
}
.selects{
  display: flex;
  gap: 20px;
  margin-left: 25%;

}
.showncountry{
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
}
.shownstate1{
  font-size: 24px;
}
.shownstate{
  color: #888;
}